<div id="accNo" class="modal">
        <div class="modal-content">
            <div class='center'>
                <h5 class="btn blue btn-large disabled waves-effect waves-light">Enter Bank Info</h5>
            </div>
            <div class="row">
                <form class="col s12"  action="/accNo" method="POST">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="accNo" type="text"  name="accNo">
                            <label for="accNo">Account No</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate" name="pass">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row right-align">
                        <div class="input-field col s12">
                            <button class=" blue btn waves-effect waves-light" type="submit" >Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>