<div class="container blue" id="main-content">
  <div class="row">
    <div class="col s4 hoverable">
      <div class="card z-depth-5">
        <div class="card-image ">
          <img class="responsive materialboxed" src="teslamodel3.png">

          <a onclick="M.toast({html: 'I am a toast!', classes: 'rounded'});"
            class="btn-floating halfway-fab waves-effect waves-light red btn-floating pulse tooltipped"
            data-tooltip="Add to cart" data-position="top"><i class="material-icons">add</i></a>
        </div>
        <span class="card-title"> Tesla Model 3 </span>
        <div class="right">
          <h5 class="price-tag">$</h5>
        </div>
        <div class="card-content">
          <p>Model 3 comes with the option of dual motor all-wheel drive, 20” Performance Wheels and Brakes and
            lowered suspension for total control. And a carbon fiber spoiler improves
            stability at high speeds, all allowing Model 3 to accelerate from 0-60 mph in as little as 3.2 seconds.
          </p>
        </div>
      </div>
    </div>
    <div class="col s4 hoverable">
      <div class="card z-depth-5 ">
        <div class="card-image ">
          <img class="responsive materialboxed" src="teslamodelS.jpeg">

          <a onclick="M.toast({html: 'I am a toast'})"
            class="btn-floating halfway-fab waves-effect waves-light red btn-floating pulse tooltipped"
            data-tooltip="Add to cart" data-position="top"><i class="material-icons">add</i></a>

        </div>
        <span class="card-title"> Tesla Model S</span>
        <div class="right">
          <h5 class="price-tag">$</h5>
        </div>
        <div class="card-content">
          <p>Model S sets an industry standard for performance and safety. Tesla’s all-electric powertrain delivers
            unparalleled performance in all weather conditions , with Dual Motor All-Wheel Drive, adaptive air
            suspension and ludicrous acceleration.Let's save fossil fuel.</p>
        </div>
      </div>
    </div>
    <div class="col s4 hoverable">
      <div class="card z-depth-5">
        <div class="card-image ">
          <img class="responsive materialboxed" src="teslamodelX.jpg">

          <a onclick="M.toast({html: 'I am a toast'})"
            class="btn-floating halfway-fab waves-effect waves-light red btn-floating pulse tooltipped"
            data-tooltip="Add to cart" data-position="top"><i class="material-icons">add</i></a>
        </div>
        <span class="card-title"> Tesla Model X</span>
        <div class="right">
          <h5 class="price-tag">$</h5>
        </div>
        <div class="card-content">
          <p>Model X has the most storage room of any SUV in its class, comfortable seating for up to seven adults and
            the capability to tow up to 5,000 pounds. Falcon Wing doors are equipped with sensors to monitor the
            proximity of surroundings, and can open in even the tightest parking spaces.</p>
        </div>
      </div>
    </div>
  </div>
</div>