<ul id="slide-out" class="sidenav">
    <div class=" center">
        <h5>Your Cart</h5>
    </div>

    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
<a href="#" data-target="slide-out"
    class="sidenav-trigger  z-depth-5 red btn btn-large waves-effect waves-light tooltipped " data-tooltip="Cart"
    data-activates="slide-out" data-position="bottom"><i class="material-icons">shopping_cart</i></a>