<div id="SignIn" class="modal">
  <div class="modal-content">
    <div class='center'>
      <h5 class="btn blue btn-large disabled waves-effect waves-light">Sign In</h5>
    </div>
    <div class="row">
      <form class="col s12"  action="/signin" method="POST">
        <div class="row">
          <div class="input-field col s12">
            <input id="name" type="text" class="validate" name="name">
            <label for="name">Name</label>
          </div>
          
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate" name="email">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password"  name="pass">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="contact" type="text" class="validate" name="contact">
            <label for="Contact">Contact </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="address" class="materialize-textarea" name="address"></textarea>
            <label for="address">Address</label>
          </div>
        </div>
        <div class="row right-align">
          <div class="input-field col s12">
              <!-- <button type="submit" class="btn btn-primary" name="login_user">Login</button> -->
            <button class=" blue btn waves-effect waves-light" type="submit">SignIn
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>