<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>

  <!-- main navbar starts -->
  <nav>
    <% include ../partials/nav %>
  </nav>
  <!-- main navbar ends -->
  <!-- sidenav bar starts -->
  <% include ../partials/sidenav %>
  <!-- sidenav bar ends -->
  <!-- Modal Structures -->
  <!-- Sign-in form start -->
  <% include ../partials/signinform %>
  <!-- sign-in form ends -->
  <!-- login-form starts -->
  <% include ../partials/loginform %>
  <!-- login for ends -->
  <br>
  <!-- main container start -->
  <% include ../partials/container %>
  
  <!-- main container end -->
  <!-- Compiled and minified JavaScript -->
  <% include ../partials/scripts %>

</body>

</html>